
  .card-title {
    font-family: 'Lobster';
  }

  .card-text {
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
  }


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}